.alert {
	margin-top: 20px;
}

.list-panel {
	margin-top: 20px;
}

.list-group {
	max-height: 500px;
	overflow-x: auto;
}

#map {
	min-height: 600px;
}

.info-img {
	min-width: 100px;
	min-height: 100px;
	float: left;
	margin-right: 10px;
}

.info-content {
	min-width: 400px;
}

.info-tip {
	clear: both;
	padding-top: 5px;
	border-top: solid 1px lightgray;
}

.info-tip img {
	float: left;
	margin-right: 10px;
}